.hexagon-container {
    position: absolute;
    height: 100vh;
    top: 15%;
    left:29%;
}
.hexagon {
    --b: 80px; /* adjust to control the border  */
    height: 70%; /* adjust to control the size  */
    aspect-ratio: 1/cos(30deg);
    clip-path: 
      polygon(0 50%,50% -50%,100% 50%,50% 150%,0 50%,
      var(--b) 50%,
      calc(25% + var(--b)*cos(60deg)) calc(100% - var(--b)*sin(60deg)),
      calc(75% - var(--b)*cos(60deg)) calc(100% - var(--b)*sin(60deg)),
      calc(100% - var(--b)) 50%,
      calc(75% - var(--b)*cos(60deg)) calc(var(--b)*sin(60deg)),
      calc(25% + var(--b)*cos(60deg)) calc(var(--b)*sin(60deg)),
      var(--b) 50%);
    background: #555;
}

/* Lines */

.stalk {
    border: none;
}

.l1, .l2, .l3, .l4, .l5, .l6 { width: 20%; position: absolute; height: 8.2%; background-color: transparent; outline: none; }

.r1, .r2, .r3, .r4, .r5, .r6 { width: 20%; position: absolute; height: 8.2%; background-color: transparent; outline: none; }

.l1 { top: -3.5%; left: 25%; }
.r1 { top: -3.5%; left: 49.9%;}
.l2 { top: 0%; left: 62.43%; transform: rotate(60deg) translate(44%, -100%); }
.r2 { top: 0%; left: 62.43%; transform: rotate(60deg) translate(140%, -100%); }
.l3 { top: 0%; left: 62.43%; transform: rotate(120deg) translateX(143%) translateY(-1221%); }
.r3 { top: 0%; left: 62.43%; transform: rotate(120deg) translateX(243%) translateY(-1221%); }
.l4 { left: 62.43%; transform: rotate(180deg) translateX(48%) translateY(-35%); }
.r4 { left: 62.43%; transform: rotate(180deg) translateX(150%) translateY(-35%); }
.l5 { top: 0%; left: 62.43%; transform: rotate(240deg) translateX(-143.5%) translateY(-2388%); }
.r5 { top: 0%; left: 62.43%; transform: rotate(240deg) translateX(-43%) translateY(-2388%); }
.l6 { top: 0%; left: 62.43%; transform: rotate(300deg) translateX(-242%) translateY(-1290%); }
.r6 { top: 0%; left: 62.43%; transform: rotate(300deg) translateX(-143%) translateY(-1290%); }

.active {
    background-color: mediumspringgreen;
    height: 3%;
    width: 25%;
}

.hex-side {
    position: absolute;
    --pl: 11%; /* control the shape (can be percentage) */
    --pr: 12%;
    height: 8%;
    aspect-ratio: 3/2;
    clip-path: polygon(var(--pl) 100%,calc(100% - var(--pr)) 100%,100% 0,0 0);
    background:rgb(0, 187, 255);;
    width: 50%;
}

.side1 { top: 0%; left: 25.25%; }
.side2 { top: 0%; right: 0; transform: rotate(60deg) translate(42%, 25.5%); }
.side3 { top: 0%; right: 0; transform: rotate(120deg) translate(91.5%, -362%); }
.side4 { top: 0; left: 0%; transform:  rotate(180deg) translate(-49.5%, -774.5%); }
.side5 { top: 0%; left: 0; transform: rotate(240deg) translate(-90.9%, -362%) ; }
.side6 { top: 0%; left: 0; transform: rotate(300deg) translate(-41%, 26%); }

/* Media stuff to make look good on small displays */
@media screen and (max-width: 1280px) {
    .hexagon {
        --b: 75px; /* adjust to control the border  */
        height: 80%; /* adjust to control the size  */
        aspect-ratio: 1/cos(30deg);
        clip-path: 
          polygon(0 50%,50% -50%,100% 50%,50% 150%,0 50%,
          var(--b) 50%,
          calc(25% + var(--b)*cos(60deg)) calc(100% - var(--b)*sin(60deg)),
          calc(75% - var(--b)*cos(60deg)) calc(100% - var(--b)*sin(60deg)),
          calc(100% - var(--b)) 50%,
          calc(75% - var(--b)*cos(60deg)) calc(var(--b)*sin(60deg)),
          calc(25% + var(--b)*cos(60deg)) calc(var(--b)*sin(60deg)),
          var(--b) 50%);
        background: #555;
    }
    .hex-side {
        position: absolute;
        --pl: 10%; /* control the shape (can be percentage) */
        --pr: 10%;
        height: 8%;
        aspect-ratio: 3/2;
        clip-path: polygon(var(--pl) 100%,calc(100% - var(--pr)) 100%,100% 0,0 0);
        background:rgb(0, 187, 255);;
        width: 50%;
    }
}