.hexagon-container {
    position: absolute;
    height: 100vh;
    top: 15%;
    left:29%;
}
.hexagon {
    --b: 80px; /* adjust to control the border  */
    height: 70%; /* adjust to control the size  */
    aspect-ratio: 1/cos(30deg);
    clip-path: 
      polygon(0 50%,50% -50%,100% 50%,50% 150%,0 50%,
      var(--b) 50%,
      calc(25% + var(--b)*cos(60deg)) calc(100% - var(--b)*sin(60deg)),
      calc(75% - var(--b)*cos(60deg)) calc(100% - var(--b)*sin(60deg)),
      calc(100% - var(--b)) 50%,
      calc(75% - var(--b)*cos(60deg)) calc(var(--b)*sin(60deg)),
      calc(25% + var(--b)*cos(60deg)) calc(var(--b)*sin(60deg)),
      var(--b) 50%);
    background: #555;
}

/* Lines */

.stalk {
    border: none;
    transition: background-color 0.125s ease;

}


.l1 {
    width: 20%;
    position: absolute;
    height: 8.1%;
    top: 0%;
    left: 30.789%;
    background-color: transparent;
    outline: none;
}

.r1 {
    width: 19.4%;
    position: absolute;
    height: 8.1%;
    top: 0%;
    left: 49.9%;
    background-color: transparent;
    outline: none;
}

.l2 {
    width: 20%;
    position: absolute;
    height: 8.2%;
    top: 0%;
    left: 62.43%;
    background-color: transparent;
    outline: none;
    transform: rotate(60deg) translate(64%, 2.8%);
}

.r2 {
    width: 20%;
    position: absolute;
    height: 8.2%;
    top: 0%;
    left: 62.43%;
    background-color: transparent;
    outline: none;
    transform: rotate(60deg) translate(156%, 2.8%);
}

.l3 {
    width: 20%;
    position: absolute;
    height: 8.2%;
    top: 0%;
    left: 62.43%;
    background-color: transparent;
    outline: none;
    transform: rotate(120deg) translateX(175%) translateY(-374%);
}

.r3 {
    width: 20%;
    position: absolute;
    height: 8.2%;
    top: 0%;
    left: 62.43%;
    background-color: transparent;
    outline: none;
    transform: rotate(120deg) translateX(268%) translateY(-375%);
}

.l4 {
    width: 20%;
    position: absolute;
    height: 8.2%;
    left: 62.43%;
    background-color: transparent;
    outline: none;
    transform: rotate(180deg) translateX(66%) translateY(100%);
}

.r4 {
    width: 20%;
    position: absolute;
    height: 8.2%;
    left: 62.43%;
    background-color: transparent;
    outline: none;
    transform: rotate(180deg) translateX(158%) translateY(100%);
}

.l5 {
    width: 20%;
    position: absolute;
    height: 8.2%;
    top: 0%;
    left: 62.43%;
    background-color: transparent;
    outline: none;
    transform: rotate(240deg) translateX(-155.5%) translateY(-758%);
}

.r5 {
    width: 20%;
    position: absolute;
    height: 8.2%;
    top: 0%;
    left: 62.43%;
    background-color: transparent;
    outline: none;
    transform: rotate(240deg) translateX(-63%) translateY(-758%);
}

.l6 {
    width: 20%;
    position: absolute;
    height: 8.2%;
    top: 0%;
    left: 62.43%;
    background-color: transparent;
    outline: none;
    transform: rotate(300deg) translateX(-268%) translateY(-380%);
}

.r6 {
    width: 20%;
    position: absolute;
    height: 8.2%;
    top: 0%;
    left: 62.43%;
    background-color: transparent;
    outline: none;
    transform: rotate(300deg) translateX(-175%) translateY(-380%);
    
}

.active {
    background-color: mediumspringgreen;
}